menu "ESP32TNC Configuration"

choice
    prompt "Hardware type"
    default M5STICKC

config M5STICKC
    bool "M5StickC Plus"

config M5ATOM
    bool "M5Atom Lite/Matrix"

config FX25TNCR1
    bool "FX.25 KISS TNC rev.1 (TCM3105 version)"
        
config FX25TNCR2
    bool "FX.25 KISS TNC rev.2 (SMD version)"

config FX25TNCR3
    bool "FX.25 KISS TNC rev.3 (6ports capable version)"

config FX25TNCR4
    bool "FX.25 KISS TNC rev.4 (Software modem and TCM3105 version)"
    
endchoice

config M5STICKC_AUDIO
    bool "packet input/output using internal MIC and SP"
    default "n"
    depends on M5STICKC

config M5ATOM_PORTS
    int "Configure number of ports"
    default 1
    range 1 2
    depends on M5ATOM

config FX25TNCR3_PORTS
    int "Configure number of ports"
    default 2
    range 1 6
    depends on FX25TNCR3

config GPIO_RXD_PIN
    int "GPIO No. which connected to TCM3105 RXD pin"
    default 39
    range 0 39
    depends on FX25TNCR1

config GPIO_CDT_PIN
    int "GPIO No. which connected to TCM3105 CDT pin"
    default 36
    range 0 39
    depends on FX25TNCR1
    
config GPIO_TXD_PIN
    int "GPIO No. which connected to TCM3105 TXD pin"
    default 12
    range 0 39
    depends on FX25TNCR1

config GPIO_PTT_PIN
    int "GPIO No. which connected to the transmitter PTT"
    default 15
    range 0 39
    depends on FX25TNCR1

config GPIO_LED_PIN
    int "GPIO No. which connected to CDT LED"
    default 2
    range 0 39
    depends on FX25TNCR1

config ENABLE_TCM3105
    bool "enable TCM3105 modem chip"
    default "y"
    depends on FX25TNCR4
    
if FX25TNCR1 || (FX25TNCR4 && ENABLE_TCM3105)
config TCM3105_ADC
    bool "use ADC to get RXD state"
    default "y"
endif

config TEXT_MODE
    bool "Enable text mode instead of KISS protocol"
    default "y"
    help
    Serial output is changed for human readable format.

config USE_WIFI
    bool "Enable WiFi"
    default "n"
    help
	TNC will connect to WiFi AP at startup.

config ESP_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    depends on USE_WIFI
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    depends on USE_WIFI
    help
	WiFi password (WPA or WPA2) for the example to use.

config TCP_PORT
    int "TCP port for KISS connection"
    default 8001
    range 0 65535
    depends on USE_WIFI

config UDP_PORT
    int "UDP port for KISS connection"
    default 8001
    range 0 65535
    depends on USE_WIFI

config KISS_TXDELAY
    int "KISS TXDELAY, 10 ms units"
    default 50
    range 0 255

config KISS_P
    int "KISS persistence parameter, P"
    default 63
    range 0 255
    help
	P = p * 256 - 1

config KISS_SLOTTIME
    int "KISS SlotTime, 10 ms units"
    default 10
    range 1 255

config KISS_FULLDUPLEX
    bool "full duplex if true"
    default "n"

config FX25_ENABLE
    bool "Enable FX.25 Forward Error Correction"
    default "y"

choice
    prompt "FX.25 number of parity symbols"
    default FX25_PARITY_16
    depends on FX25_ENABLE
    help
        Number of parity symbols of Reed-Solomon code

config FX25_PARITY_0
    bool "AX.25"

config FX25_PARITY_16
    bool "FX.25 16 parity"

config FX25_PARITY_32
    bool "FX.25 32 parity"

config FX25_PARITY_64
    bool "FX.25 64 parity"

endchoice

config BEACON
    bool "Enable beacon"
    default "n"
    help
	Enable beacon packet transmittion.

config BEACON_CALLSIGN
    string "Source address of beacon packet"
    default "NOCALL"
    depends on BEACON

config BEACON_INTERVAL
    int "Interval of beacon packet"
    default 600
    range 30 3600
    depends on BEACON
     
config BEACON_TEXT
    string "Beacon text"
    default "Beacon packet of ESP32TNC"
    depends on BEACON

config DEBUG
    bool "output debug message"
    default "n"

config FX25_STAT
    bool "sending FX.25 FEC statistics information to the air as AX.25 packet"
    default "n"
    depends on FX25_ENABLE

config FX25_STAT_CALLSIGN
    string "Source address of FX.25 FEC statistics packet"
    default "NOCALL"
    depends on FX25_STAT

endmenu
